{% block extends %}
    {{ "{% import '@BenmachaTemplate/layout/macros/scripts.html.twig' as scripts %}" }}
    {{ "{% import '@BenmachaTemplate/layout/macros/styles.html.twig' as styles %}" }}
    {{ "{% import '@BenmachaTemplate/layout/macros/buttons.html.twig' as buttons %}" }}
    {{ "{% extends '@BenmachaTemplate/base.html.twig' %}" }}
    {{ "{% form_theme edit_form '@BenmachaTemplate/layout/form/layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
    {% set hide_edit, hide_delete = true, false %}

    {{ "{% block pagetitle %}{{ '"~entity_singularized|capitalize ~" Edit'|trans({},'"~entity_singularized~"') }}{% endblock %}" }}
    {{ "{% block subtitle %}Admin{% endblock %}" }}

    {{ "{% block stylesheets %}" }}
    {{ "{{ parent() }}" }}
    {{ "{{ styles.flatpicker() }}" }}
    {{ "{% endblock %}" }}

    {{ "{% block content %}" }}

    <div class="box-typical box-typical-padding">
        <a href="{{ "{{ path('" ~ route_name_prefix ~ "_index') }}" }}" class="btn btn-inline btn-primary pull-right">{{ "{{ 'back'|trans({},'"~entity_singularized~"') }}" }}</a>
    {%- if ('edit' in actions) and (not hide_edit) %}
        <a href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { '"~ identifier ~"': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}"  class="btn btn-inline btn-warning pull-right">{{ "{{ 'edit'|trans({},'"~entity_singularized~"') }}" }}</a>
    {%- endif %}

        <br><hr>
        {{ '{{ form_start(edit_form) }}' }}
        {{ '{{ form_widget(edit_form) }}' }}
        <input type="submit" value="{{ "{{ 'edit'|trans({},'"~entity_singularized~"') }}" }}" class="btn btn-inline btn-success"  />
        {{ '{{ form_end(edit_form) }}' }}
    </div>

    {{ include('crud/views/others/record_actions.html.twig.twig') -}}
    {{ "{% endblock %}" }}

    {{ "{% block javascripts %}" }}
    {{ "{{ parent() }}" }}
    {{ "{{ scripts.flatpicker() }}" }}
    {{ "{% endblock %}" }}
{% endblock body %}
