{% block extends %}
    {{ "{% import '@BenmachaTemplate/layout/macros/scripts.html.twig' as scripts %}" }}
    {{ "{% import '@BenmachaTemplate/layout/macros/styles.html.twig' as styles %}" }}
    {{ "{% import '@BenmachaTemplate/layout/macros/buttons.html.twig' as buttons %}" }}
    {{ "{% import '@BenmachaTemplate/layout/macros/forms.html.twig' as forms %}" }}
    {{ "{% extends '@BenmachaTemplate/base.html.twig' %}" }}
    {{ "{% form_theme edit_form '@BenmachaTemplate/layout/form/layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
    {% set hide_edit, hide_delete = true, false %}

    {{ "{% block pagetitle %}{{ '"~entity_singularized|capitalize ~" Edit'|trans({},'"~entity_singularized~"') }}{% endblock %}" }}
    {{ "{% block subtitle %}Admin{% endblock %}" }}

    {{ "{% block stylesheets %}" }}
    {{ "{{ parent() }}" }}
    {{ "{{ styles.flatpicker() }}" }}
    {{ "{{ styles.swalAlert() }}" }}
    {{ "{% endblock %}" }}

    {{ "{% block content %}" }}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                {{ '{{ form_start(edit_form) }}' }}
                <div class="card-header card-header-text">
                    <a href="{{ "{{ path('" ~ route_name_prefix ~ "_index') }}" }}" class="btn btn-inline btn-primary pull-left">{{ "{{ 'back'|trans({},'"~entity_singularized~"') }}" }}</a>
                    <a href="#" data-path="{{ "{{ path('" ~ route_name_prefix ~ "_delete') }}" }}" data-id="{{ "{{ "~entity_singularized~".id }}" }}" class="btn-form_action_delete btn btn-inline btn-danger pull-right">{{ "{{ 'remove'|trans({},'"~entity_singularized~"') }}" }}</a>
                </div>

                <div class="card-content">
                    <div class="row">
                        {{ '{{ form_widget(edit_form) }}' }}
                    </div>
                </div>


                <div class="card-footer card-footer-text">
                    <input type="submit" value="{{ "{{ 'edit'|trans({},'"~entity_singularized~"') }}" }}" class="btn btn-inline btn-success"  />
                </div>
                {{ '{{ form_end(edit_form) }}' }}

            </div>
        </div>
    </div>

    {{ "{% endblock %}" }}

    {{ "{% block javascripts %}" }}
    {{ "{{ parent() }}" }}
    {{ "{{ scripts.flatpicker() }}" }}
    {{ "{{ scripts.swalAlert() }}" }}
    <script>
        $('.btn-form_action_delete').click(function (event) {
            var id = $(this).data('id');
            var path = $(this).data('path');

            swal({
                    title: "Are you sure?",
                    text: "You will not be able to recover this !",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Yes, delete it!",
                    cancelButtonText: "No, cancel!",
                    closeOnConfirm: true,
                    closeOnCancel: true
                },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            type: "POST",
                            url: path,
                            data: {
                                "_method": "DELETE",
                                "ids": [id]
                            },
                            success: function(result) {
                                location.href = "{{ "{{ path('" ~ route_name_prefix ~ "_index') }}" }}";
                            }
                        });
                    }
                });
        });
    </script>
    {{ "{% endblock %}" }}
{% endblock body %}
