{% block extends %}
{{ "{% import '@BenmachaTemplate/layout/macros/scripts.html.twig' as scripts %}" }}
{{ "{% import '@BenmachaTemplate/layout/macros/styles.html.twig' as styles %}" }}
{{ "{% import '@BenmachaTemplate/layout/macros/buttons.html.twig' as buttons %}" }}
{{ "{% extends '@BenmachaTemplate/base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block pagetitle %}{{ '"~entity_pluralized|capitalize ~" List'|trans({},'"~entity_singularized~"') }}{% endblock %}" }}
{{ "{% block subtitle %}Admin{% endblock %}" }}

{{ "{% block stylesheets %}" }}
{{ "{{ parent() }}" }}
{{ "{{ styles.datatable() }}" }}
{{ "{% endblock %} " }}

{{ "{% block content %}" }}
    <table id="datatable"  class="display table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
            {%- for field, metadata in fields %}

                <th{%- if loop.first %} width="1"{% endif %}>{{ "{{ '"~field|capitalize~"'|trans({},'"~entity_singularized~"') }}" }}</th>

            {%- endfor %}

                <th width="1">{{ "{{ 'action'|trans({},'"~entity_singularized~"') }}" }}</th>
            </tr>
        </thead>
        {#
        <tbody>
        {{ '{% for ' ~ entity_singularized ~ ' in ' ~ entity_pluralized ~ ' %}' }}
            <tr>

        {%- for field, metadata in fields %}
            {%- if loop.first and ('show' in actions) %}

                <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { '"~ identifier ~"': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}">{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}</a></td>

            {%- elseif metadata.type in ['datetime'] %}

                <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>
            
            {%- elseif metadata.type in ['date'] %}

                <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d\') }}{% endif %}' }}</td>
          
            {%- elseif metadata.type in ['time'] %}

                <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'H:i:s\') }}{% endif %}' }}</td>

            {%- elseif metadata.type in ['array'] %}

                <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|join(\', \') }}{% endif %}' }}</td>

            {%- elseif metadata.type in ['boolean'] %}

                <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}Yes{% else %}No{% endif %}' }}</td>

            {%- else %}

                <td>{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

            {%- endif %}

            {%- if loop.last %}

                <td>
                    {%- for action in record_actions %}
                            <a href="{{ "{{ path('" ~ route_name_prefix ~ "_" ~ action ~ "', { '"~ identifier ~"': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}" class="btn btn-inline btn-primary btn-sm ladda-button" data-style="expand-right" data-size="s"><span class="ladda-label">{{ "{{ '"~action~"'|trans({},'"~entity_singularized~"') }}" }}</span><span class="ladda-spinner"></span></a>

                    {%- endfor %}
                </td>
            {%- endif %}
        {%- endfor %}

            </tr>
        {{ '{% endfor %}' }}
        </tbody>#}
    </table>


{{ "{% endblock %}" }}

{{ "{% block javascripts %}"}}
{{ "{{ parent() }}"}}
{{ "{{ scripts.datatable('" ~ route_name_prefix ~ "_index',"}}
    {%- if 'new' in actions -%}{{ "'" ~ route_name_prefix ~ "_new'"}}{%- else -%}{{ "null" }}{%- endif -%}
    {{ ",'"~route_name_prefix~"_show',"}}
    {%- if 'edit' in actions -%}{{ "'" ~ route_name_prefix ~ "_edit',"}}{%- else -%}{{ "null," }}{%- endif -%}
    {%- if 'delete' in actions -%}{{ "'" ~ route_name_prefix ~ "_delete','["}}{%- else -%}{{ "null,'[" }}{%- endif -%}
    {%- for field, metadata in fields %}{"name": "t.{{ field|replace({'_': ''}) }}","type":"{{ metadata.type }}"}{%- if not loop.last %},{%- endif %}{%- endfor %}
{{ " ]') }}"}}

{{ "{% endblock %} " }}
{% endblock body %}
