{% block extends %}
    {{ "{% import '@BenmachaTemplate/layout/macros/scripts.html.twig' as scripts %}" }}
    {{ "{% import '@BenmachaTemplate/layout/macros/styles.html.twig' as styles %}" }}
    {{ "{% import '@BenmachaTemplate/layout/macros/buttons.html.twig' as buttons %}" }}
    {{ "{% extends '@Template/base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block pagetitle %}{{ '"~entity_pluralized|capitalize ~" List'|trans({},'"~entity_singularized~"') }}{% endblock %}" }}
{{ "{% block subtitle %}Admin{% endblock %}" }}

{{ "{% block stylesheets %}{% endblock %}" }}
{{ "{{ styles.datatable() }}" }}
{{ "{% endblock %} " }}

{{ "{% block content %}" }}
    <table id="datatable"  class="display table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
            {%- for field, metadata in fields %}

                <th{%- if loop.first %} width="1"{% endif %}>{{ "{{ '"~field|capitalize~"'|trans({},'"~entity_singularized~"') }}" }}</th>

            {%- endfor %}

                <th width="1">{{ "{{ 'action'|trans({},'"~entity_singularized~"') }}" }}</th>
            </tr>
        </thead>{#
        <tbody>
        {{ '{% for ' ~ entity_singularized ~ ' in ' ~ entity_pluralized ~ ' %}' }}
            <tr>

        {%- for field, metadata in fields %}
            {%- if loop.first and ('show' in actions) %}

                <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { '"~ identifier ~"': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}">{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}</a></td>

            {%- elseif metadata.type in ['datetime'] %}

                <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>
            
            {%- elseif metadata.type in ['date'] %}

                <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d\') }}{% endif %}' }}</td>
          
            {%- elseif metadata.type in ['time'] %}

                <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'H:i:s\') }}{% endif %}' }}</td>

            {%- elseif metadata.type in ['array'] %}

                <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|join(\', \') }}{% endif %}' }}</td>

            {%- elseif metadata.type in ['boolean'] %}

                <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}Yes{% else %}No{% endif %}' }}</td>

            {%- else %}

                <td>{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

            {%- endif %}

            {%- if loop.last %}

                <td>
                    {%- for action in record_actions %}
                            <a href="{{ "{{ path('" ~ route_name_prefix ~ "_" ~ action ~ "', { '"~ identifier ~"': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}" class="btn btn-inline btn-primary btn-sm ladda-button" data-style="expand-right" data-size="s"><span class="ladda-label">{{ "{{ '"~action~"'|trans({},'"~entity_singularized~"') }}" }}</span><span class="ladda-spinner"></span></a>

                    {%- endfor %}
                </td>
            {%- endif %}
        {%- endfor %}

            </tr>
        {{ '{% endfor %}' }}
        </tbody>#}
    </table>

    {% if 'new' in actions -%}
        <br>
        <a href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}" class="btn btn-inline btn-success ladda-button" data-style="expand-right" data-size="s"><span class="ladda-label">{{ "{{ 'Create a new "~entity_singularized|capitalize ~"'|trans({},'"~entity_singularized~"') }}" }}</span><span class="ladda-spinner"></span></a>
    {%- endif %}

{{ "{% endblock %}" }}

{{ "{% block javascripts %}"}}
{{ "{{ scripts.datatable() }}"}}
    <script>
        $(document).ready(function() {
            $('#{{ entity_singularized }}-table').DataTable({
                "dom": 'Bfrtip',
                "buttons": [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                "ajax": {
                    url: "{{ "{{ path('" ~ route_name_prefix ~ "_index') }}" }}",
                    data: {
                        /*join:[{
                            "join": "VoitureBundle:Voiture",
                            "alias": 'v',
                            "condition": "t.voiture = v.id"
                        },{
                            "join": "ConfigurationBundle:EntretientType",
                            "alias": 'e',
                            "condition": "t.entretienstype = e.id"
                        }],
                        hiddenColumn:[{
                            name:'e.action',
                            data:'e_action'
                        },{
                            name:'v.matricule',
                            data:'v_matricule'
                        },{
                            name:'v.serie',
                            data:'v_serie'
                        }]*/
                    }
                },
                "processing": true,
                "serverSide": true,
                "sAjaxDataProp": "data",
                "pageLength": 100,
                "deferRender": true,
                "scrollY":     500,
                "scroller": {
                    "loadingIndicator": true
                },
                "columnDefs": [
                    {%- for field, metadata in fields %}
                        {%- if loop.first %}
                            {
                                "targets": 0,
                                "name": 't.{{ field|replace({'_': ''}) }}',
                                "data": 't_{{ field|replace({'_': ''}) }}',
                            }
                        {%- elseif metadata.type in ['datetime'] %}
                            ,{
                                "targets": {{ loop.index-1 }},
                                "name": 't.{{  field|replace({'_': ''}) }}',
                                "data": 't_{{  field|replace({'_': ''}) }}',
                                "render": function ( data, type, full, meta ) {
                                    return  getFormattedDate(data);
                                }
                            }
                        {%- elseif metadata.type in ['date'] %}
                            ,{
                                "targets": {{ loop.index-1 }},
                                "name": 't.{{  field|replace({'_': ''})  }}',
                                "data": 't_{{  field|replace({'_': ''})  }}',
                                "render": {
                                    "display": "date"
                                }
                            }
                        {%- elseif metadata.type in ['time'] %}
                            ,{
                                "targets": {{ loop.index-1 }},
                                "name": 't.{{  field|replace({'_': ''})  }}',
                                "data": 't-{{  field|replace({'_': ''})  }}',
                                "render": {
                                    "display": "date"
                                }
                            }
                        {#{%- elseif metadata.type in ['array'] %}

                        <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|join(\', \') }}{% endif %}' }}</td>

                        {%- elseif metadata.type in ['boolean'] %}

                        <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}Yes{% else %}No{% endif %}' }}</td>#}
                        {%- else %}
                            ,{
                                "targets": {{ loop.index-1 }},
                                "name": 't.{{ field|replace({'_': ''})  }}',
                                "data": 't_{{ field|replace({'_': ''})  }}'
                            }
                        {%- endif %}
                        {%- if loop.last %}
                            ,{
                                "targets": -1,
                                "name": 't.id',
                                "data": "t_id",
                                "render": function ( data, type, full, meta ) {
                                    var ch = '';
                                    {%- for action in record_actions %}

                                        ch+= '<a href="'+Routing.generate('{{ route_name_prefix }}_{{ action }}',{ _locale: "{{ "{{ app.request.locale }}" }}", id:data})+'" class="btn btn-inline btn-primary btn-sm ladda-button" data-style="expand-right" data-size="s"><span class="ladda-label">{{ "{{ '"~action~"'|trans({},'"~entity_singularized~"') }}" }}</span><span class="ladda-spinner"></span></a>';
                                    {%- endfor %}

                                    return ch;
                                }
                            }
                        {%- endif %}
                    {%- endfor %}
                ]
            });
        });
    </script>
{{ "{% endblock %} " }}
{% endblock body %}
