{% block extends %}
    {{ "{% import '@BenmachaTemplate/layout/macros/scripts.html.twig' as scripts %}" }}
    {{ "{% import '@BenmachaTemplate/layout/macros/styles.html.twig' as styles %}" }}
    {{ "{% import '@BenmachaTemplate/layout/macros/buttons.html.twig' as buttons %}" }}
    {{ "{% import '@BenmachaTemplate/layout/macros/forms.html.twig' as forms %}" }}
    {{ "{% extends '@BenmachaTemplate/base.html.twig' %}" }}
    {{ "{% form_theme form '@BenmachaTemplate/layout/form/layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
    {% set hide_edit, hide_delete = true, true %}

    {{ "{% block pagetitle %}{{ '"~entity_singularized|capitalize ~" Add'|trans({},'"~entity_singularized~"') }}{% endblock %}" }}
    {{ "{% block subtitle %}Admin{% endblock %}" }}

    {{ "{% block stylesheets %}" }}
    {{ "{{ parent() }}" }}
    {{ "{% endblock %}" }}

    {{ "{% block content %}" }}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default panel-hovered panel-stacked mb20">
                <div class="panel-heading">{{ "{{ 'Add'|trans({},'"~entity_singularized~"') }}" }}</div>

                {{ '{{ form_start(form) }}' }}

                <div class="panel-body">

                    <div class="row">
                        {{ '{{ form_widget(form) }}' }}
                    </div>

                    <div class="clearfix">
                        <button type="submit" class="btn btn-success">{{ "{{ 'create'|trans({},'"~entity_singularized~"') }}" }}</button>
                        <a href="{{ "{{ path('" ~ route_name_prefix ~ "_index') }}" }}" class="btn btn-inline btn-primary pull-right">{{ "{{ 'back'|trans({},'"~entity_singularized~"') }}" }}</a>
                        {%- if ('edit' in actions) and (not hide_edit) %}
                            <a href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { '"~ identifier ~"': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}"  class="btn btn-inline btn-warning pull-right">{{ "{{ 'edit'|trans({},'"~entity_singularized~"') }}" }}</a>
                        {%- endif %}
                    </div>
                </div>

                {{ '{{ form_end(form) }}' }}
            </div>
        </div>
    </div>


{{ include('crud/views/others/record_actions.html.twig.twig') -}}
{{ "{% endblock %}" }}

    {{ "{% block javascripts %}" }}
    {{ "{{ parent() }}" }}
    {{ "{% endblock %}" }}
{% endblock body %}
