{% block extends %}
    {{ "{% import '@BenmachaTemplate/layout/macros/scripts.html.twig' as scripts %}" }}
    {{ "{% import '@BenmachaTemplate/layout/macros/styles.html.twig' as styles %}" }}
    {{ "{% import '@BenmachaTemplate/layout/macros/buttons.html.twig' as buttons %}" }}
    {{ "{% extends '@BenmachaTemplate/base.html.twig' %}" }}
{% endblock extends %}

{% block body %}

    {{ "{% block pagetitle %}{{ '"~entity_singularized|capitalize ~" Show'|trans({},'"~entity_singularized~"') }}{% endblock %}" }}
    {{ "{% block subtitle %}Admin{% endblock %}" }}

    {{ "{% block stylesheets %}" }}
    {{ "{{ parent() }}" }}
    {{ "{% endblock %}" }}

    {{ "{% block content %}" }}

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-lg-12">
                        <h1>{{ entity_singularized|capitalize }}</h1>

                        <table>
                            <tbody>
                            {%- for field, metadata in fields %}

                                <tr>
                                    <th>{{ field|capitalize }}</th>
                                    <!--  {{ metadata.type }}  -->
                                {%- if metadata.type in ['datetime'] %}

                                    <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

                                {%- elseif metadata.type in ['date'] %}

                                    <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d\') }}{% endif %}' }}</td>

                                {%- elseif metadata.type in ['time'] %}

                                    <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'H:i:s\') }}{% endif %}' }}</td>

                                {%- elseif metadata.type in ['array','json_array'] %}

                                    <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|join(\', \') }}{% endif %}' }}</td>

                                {%- elseif metadata.type in ['boolean'] %}

                                    <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}Yes{% else %}No{% endif %}' }}</td>

                                {%- else %}

                                    <td>{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

                                {%- endif %}

                                </tr>

                            {%- endfor %}

                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ "{% endblock %}" }}

    {{ "{% block javascripts %}" }}
    {{ "{{ parent() }}" }}
    {{ "{% endblock %}" }}
{% endblock body %}
