{% if not is_granted('ROLE_CTL') %}
    <div class="sidebar sidebar-main sidebar-cargill ">
        <div class="sidebar-content ">
            <div class="sidebar-user ">
                <div class="category-content">
                    <div class="media">
                        <a href="#" class="media-left"><img src="{{ asset('custom_assets/images/icons/img_user.png') }}" class="img-circle img-sm" alt=""></a>
                        <div class="media-body">
                            <span class="media-heading text-semibold">Welcome {{ app.user }}</span>
                            <div class="text-size-mini text-muted">
                                {% for role in app.user.roles %}{{ role }} {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar-category sidebar-category-visible ">
                <div class="category-content no-padding">
                    <ul class="navigation navigation-main navigation-accordion">
                        <li {% if app.request.get('_route')=="dashboard" %}class="active"{% endif %}><a href="{{ path('dashboard') }}"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
                        {{ include(':layout/menu:admin.html.twig') }}
                        {{ include(':layout/menu:voyage.html.twig') }}
                        {{ include(':layout/menu:barge.html.twig') }}
                        {{ include(':layout/menu:port.html.twig') }}
                        {{ include(':layout/menu:product.html.twig') }}
                        {{ include(':layout/menu:notification.html.twig') }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endif %}