    <script src="{{ asset('bundles/benmachatemplate/js/app.js') }}"></script>

    <script>
        $(".date-mask-input" ).daterangepicker({
            autoUpdateInput: false,
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD/MM/YYYY'
            }
        }).on('apply.daterangepicker', function(ev, picker) {
            $(this).val(picker.startDate.format('DD/MM/YYYY'));
        });

{% for type, flash_messages in app.flashes %}
    {% for flash_message in flash_messages %}
        $.notify({
            icon: 'font-icon font-icon-{{ type }}',
            message: '{{ flash_message }}'
        },{
            type: '{{ type }}'
        });
    {% endfor %}
{% endfor %}
    </script>
    {% if app.environment == 'prod' %}
        <!-- Yandex.Metrika counter -->
        <script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript"></script>
        <script type="text/javascript" >
            try {

                var yaCounter47225937 = new Ya.Metrika({
                    id:47225937,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true,
                    trackHash:true
                });
                {% if app.user is defined %}
                yaCounter47225937.setUserID("{{ app.user.username }}")
                {% endif %}
            } catch(e) { }
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/47225937" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    {% endif %}
    </body>
</html>