{% import "@BenmachaTemplate/layout/macros/scripts.html.twig" as scripts %}
{% import "@BenmachaTemplate/layout/macros/styles.html.twig" as styles %}
{% import "@BenmachaTemplate/layout/macros/forms.html.twig" as forms %}
{% import "@BenmachaTemplate/layout/macros/buttons.html.twig" as buttons %}

<!DOCTYPE html>
<html>
<head lang="{{ app.request.locale }}">
	<meta charset="{{ _charset }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{{ macha_site_name }}</title>

	<link href="{{ asset('images/logo.png') }}" rel="icon" type="image/png">

	<link rel="stylesheet" href="{{ asset('bundles/benmachatemplate/css/separate/vendor/bootstrap-datetimepicker.min.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/benmachatemplate/css/separate/vendor/bootstrap-daterangepicker.min.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/benmachatemplate/css/lib/bootstrap-sweetalert/sweetalert.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/benmachatemplate/css/separate/vendor/sweet-alert-animations.min.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/benmachatemplate/css/separate/vendor/select2.min.css') }}" />
	<link rel="stylesheet" href="{{ asset('bundles/benmachatemplate/css/lib/datatables-net/datatables.min.css') }}" />
	<link rel="stylesheet" href="{{ asset('bundles/benmachatemplate/css/separate/vendor/datatables-net.min.css') }}" />
	<link rel="stylesheet" href="{{ asset('bundles/benmachatemplate/css/lib/bootstrap-table/bootstrap-table.min.css') }}" />
	<link rel="stylesheet" href="{{ asset('bundles/benmachatemplate/css/lib/font-awesome/font-awesome.min.css') }}" />
	<link rel="stylesheet" href="{{ asset('bundles/benmachatemplate/css/lib/bootstrap/bootstrap.min.css') }}" />
	<link rel="stylesheet" href="{{ asset('bundles/benmachatemplate/css/main.css') }}" />
	<link rel="stylesheet" href="{{ asset('bundles/benmachatemplate/css/custom.css') }}" />
</head>