<div class="mobile-menu-left-overlay"></div>
<nav class="side-menu">
    <div class="side-menu-avatar">
        <div class="avatar-preview avatar-preview-100">
            {%  if macha_user_picture is defined %}
                {% if  attribute(app.user, macha_user_picture) is null %}
                    <img src="{{ asset('bundles/benmachatemplate/img/avatar-1-256.png') }}" alt="">
                {% else %}
                    <img src="{{ asset(attribute(app.user, macha_user_picture)) }} " alt="">
                {% endif %}

            {% else %}
                <img src="{{ asset('bundles/benmachatemplate/img/avatar-1-256.png') }}" alt="">
            {% endif %}
        </div>
    </div>
    <ul class="side-menu-list">
        {%  for menu in menus %}
            {% if menu.childs|length > 0 %}
                <li class="with-sub">
                    <span>{% if menu.titleIcon is not null %}<i class="{{ menu.titleIcon }}"></i>{% endif %}<span class="lbl">{{ menu.titleName|trans({},menu.titleTrans) }}</span></span>
                    <ul>
                        {% for child in  menu.childs %}
                            <li><a href="{% if child.path == "#" %}#{% else %}{{ path(child.path) }}{% endif %}"><i class="{{ child.titleIcon }}"></i><span class="lbl">{{ child.titleName|trans({},child.titleTrans) }}</span></a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li><a href="{% if menu.path == "#" %}#{% else %}{{ path(menu.path) }}{% endif %}"><i class="{{ menu.titleIcon }}"></i><span class="lbl">{{ menu.titleName|trans({},menu.titleTrans) }}</span></a></li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>