<!-- Site nav (vertical) -->
<nav class="site-nav clearfix" role="navigation">
    <div class="profile clearfix mb15">
        <img src="{{ asset(app.user.picture) }}" alt="admin">
        <div class="group">
            <h5 class="name">{{ app.user.firstName }} {{ app.user.lastname }}</h5>
            <small class="desig text-uppercase">{{ app.user.roles|join(' | ')  }}</small>
        </div>
    </div>

    <ul class="list-unstyled clearfix nav-list mb15">
        {% for menu in menus %}
            {% if menu.childs|length > 0 %}
                {% set dataChild = '' %}
                {% set parentpath = false %}
                {% for child in menu.childs %}
                    {% if app.request.get('_route') == child.path %}
                        {% set parentpath = true %}
                    {% endif %}
                    {% if child.roles|length > 0 %}
                        {% for role in app.user.roles if role in child.roles  %}
                            {% if app.request.get('_route') == child.path %}{% set dataChild = dataChild ~ '<li class="active"><a href="' %}{% else %}{% set dataChild = dataChild ~ '<li><a href="' %}{% endif %}
                            {% if child.path == "#" %}{% set dataChild = dataChild ~ 'javascript:;' %}{% else %}{% set dataChild = dataChild ~ path(child.path) %}{% endif %}
                            {% set dataChild = dataChild ~ '"><i class="'~ child.titleIcon ~'"></i>'~child.titleName|trans({},child.titleTrans)~ '</a></li>' %}
                        {% endfor %}
                    {% else %}
                        {% if app.request.get('_route') == child.path %}{% set dataChild = dataChild ~ '<li class="active"><a href="' %}{% else %}{% set dataChild = dataChild ~ '<li><a href="' %}{% endif %}
                        {% if child.path == "#" %}{% set dataChild = dataChild ~ 'javascript:;' %}{% else %}{% set dataChild = dataChild ~ path(child.path) %}{% endif %}
                        {% set dataChild = dataChild ~ '"><i class="'~ child.titleIcon ~'"></i>'~child.titleName|trans({},child.titleTrans)~ '</a></li>' %}
                    {% endif %}
                {% endfor %}
                {% if dataChild|length > 0 %}
                    <li{% if  parentpath %} class="open"{% endif %}>
                        <a href="javascript:;" >
                            {% if menu.titleIcon is not null %}<i class="{{ menu.titleIcon }}"></i>{% endif %}
                            <span class="text">{{ menu.titleName|trans({},menu.titleTrans) }}</span>
                            <i class="arrow ion-chevron-left"></i>
                        </a>
                            <ul class="inner-drop list-unstyled">
                                {{ dataChild|raw }}
                            </ul>
                    </li>
                {% endif %}
            {% else -%}
                {%- if menu.roles |length > 0 -%}
                    {%- for role in app.user.roles if role in menu.roles -%}
                        <li{% if app.request.get('_route') == menu.path %} class="active"{% endif %}>
                            <a href="{% if menu.path == "#" %}javascript:;{% else %}{{ path(menu.path) }}{% endif %}">
                                <i class="{{ menu.titleIcon }}"></i>
                                <span class="text">{{ menu.titleName|trans({},menu.titleTrans) }}</span>
                            </a>
                        </li>
                    {%- endfor -%}
                {%- else -%}
                    <li{% if app.request.get('_route') == menu.path %} class="active"{% endif %}>
                        <a href="{% if menu.path == "#" %}javascript:;{% else %}{{ path(menu.path) }}{% endif %}">
                            <i class="{{ menu.titleIcon }}"></i>
                            <span class="text">{{ menu.titleName|trans({},menu.titleTrans) }}</span>
                        </a>
                    </li>
                {%- endif -%}
            {%- endif -%}
        {% endfor %}
    </ul>

</nav>