<div class="mobile-menu-left-overlay"></div>
<nav class="side-menu">
    <div class="side-menu-avatar">
        <div class="avatar-preview avatar-preview-100">
            {%  if macha_user_picture is defined %}
                {% if  attribute(app.user, macha_user_picture) is null %}
                    <img src="{{ asset('bundles/benmachatemplate/img/avatar-1-256.png') }}" alt="">
                {% else %}
                    <img src="{{ asset(attribute(app.user, macha_user_picture)) }} " alt="">
                {% endif %}

            {% else %}
                <img src="{{ asset('bundles/benmachatemplate/img/avatar-1-256.png') }}" alt="">
            {% endif %}
        </div>
    </div>
    <ul class="side-menu-list">
        {%- for menu in menus -%}
            {%- if menu.childs|length > 0 -%}
                {%- set dataChild = '' -%}
                {%- for child in menu.childs -%}
                    {%- if child.roles|length > 0 -%}
                        {%- for role in app.user.roles if role in child.roles  -%}
                            {%- set dataChild = dataChild ~ '<li><a href="' -%}
                            {%- if child.path == "#" -%}{%- set dataChild = dataChild ~ '#' -%}{%- else -%}{%- set dataChild = dataChild ~ path(child.path) -%}{%- endif -%}
                            {%- set dataChild = dataChild ~ '"><i class="'~ child.titleIcon ~'"></i><span class="lbl">'~child.titleName|trans({},child.titleTrans)~ '</span></a></li>' -%}
                        {%- endfor -%}
                    {%- else -%}
                        {%- set dataChild = dataChild ~ '<li><a href="' -%}
                        {%- if child.path == "#" -%}{%- set dataChild = dataChild ~ '#' -%}{%- else -%}{%- set dataChild = dataChild ~ path(child.path) -%}{%- endif -%}
                        {%- set dataChild = dataChild ~ '"><i class="'~ child.titleIcon ~'"></i><span class="lbl">'~child.titleName|trans({},child.titleTrans)~ '</span></a></li>' -%}
                    {%- endif -%}
                {%- endfor -%}
                {%- if dataChild|length > 0 -%}
                    <li class="with-sub">
                    <span>{%- if menu.titleIcon is not null -%}<i class="{{ menu.titleIcon }}"></i>{%- endif -%}<span class="lbl">{{ menu.titleName|trans({},menu.titleTrans) }}</span></span>
                    <ul>
                        {{ dataChild|raw }}
                    </ul>
                </li>
                {%- endif -%}
            {%- else -%}
                {%- if menu.roles |length > 0 -%}
                    {%- for role in app.user.roles if role in menu.roles -%}
                        <li><a href="{% if menu.path == "#" %}#{%- else -%}{{ path(menu.path) }}{%- endif -%}"><i class="{{ menu.titleIcon }}"></i><span class="lbl">{{ menu.titleName|trans({},menu.titleTrans) }}</span></a></li>
                    {% endfor %}
                {%- else -%}
                <li><a href="{%- if menu.path == "#" -%}#{%- else -%}{{ path(menu.path) }}{%- endif -%}"><i class="{{ menu.titleIcon }}"></i><span class="lbl">{{ menu.titleName|trans({},menu.titleTrans) }}</span></a></li>
                {%- endif -%}
            {%- endif -%}
        {%- endfor -%}
    </ul>
</nav>
